@import url("https://fonts.googleapis.com/css2?family=Aref+Ruqaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Katibeh&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Katibeh&display=swap");
/* Start Variables */
:root {
  --main-color: #009bde;
  --secondary-color: #e8e0d5;
  --gold-color: gold;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
}
/* End Variables */
* {
  margin: 0cm;
  padding: 0cm;
  box-sizing: border-box;
  text-transform: capitalize;
}
/* start navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  padding: 0 25px;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-family: "Readex Pro", sans-serif;
}
.navbar {
  background: var(--secondary-color);
}
#logo {
  cursor: pointer;
}
/* End navbar */
/* start landing page */
.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.bg {
  background: url(../pic//bglanding.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.col {
  text-align: right;
  flex-basis: 40%;
  min-width: 300px;
  font-family: "Readex Pro", sans-serif;
  font-size: x-large;
}
.col img {
  width: 450px;
  height: 500px;
}
.container .col h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.button {
  display: inline-block;
  background: var(--main-color);
  color: var(--section-background);
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  font-family: "Lalezar", cursive;
  transition: background 0.5s;
}
.button:hover {
  background: var(--secondary-color);
}

/* end landing page */
/*--------------Most searching books-------------------*/
.writers {
  margin: 70px 160px;
}
.col2 img {
  width: 220px;
  height: 300px;
  cursor: pointer;
}
.title {
  position: relative;
  text-align: center;
  margin: 15px auto 40px;
}
.title::after {
  content: "";
  background: var(--secondary-color);
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
/*-----------Most searshing books ---------------*/
.booksrow {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  padding: 15px 110px 40px;
}
.col3 {
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col3:hover {
  transform: translateY(-6px);
}
.checked {
  color: var(--gold-color);
}
.booksrow .col3 img {
  height: 290px;
  width: 200px;
  cursor: pointer;
}
/*------------Promo------------------*/
.offer {
  background: url(../pic//bglanding2.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 30px;
  padding: 35px 0;
}
.offer h1 {
  text-align: right;
  font-family: "Katibeh", cursive;
  margin-bottom: 10px;
  color: var(--main-color);
  background-color: var(--secondary-color);
  padding: 10px;
}
.offer p {
  text-align: right;
  font-size: 16px;
  font-weight: bold;
  background-color: var(--secondary-color);
  padding: 10px;
}
/*------------Quotes----------------*/
.quotes {
  padding-top: 100px;
}
.quotes h1 {
  color: var(--gold-color);
  font-size: 45px;
}
.quotes .col2 {
  padding: 40px 20px;
  text-align: right;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 1);
  cursor: pointer;
  transition: transform 0.5s;
}
.quotes .col2:hover {
  transform: translateY(-10px);
}
/*-----------Libraries----------------*/
.library .col4 img {
  width: 120px;
  height: 70px;
  cursor: pointer;
  filter: grayscale(100%);
}
.library .col4 img:hover {
  filter: grayscale(0);
}
.library {
  margin: 100px auto;
}
.col4 {
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 5px;
}
/*------------The buttom of the page--------------*/
.end {
  background: url(../pic//bglanding.jpg);
  background-position: center;
  background-size: cover;
  font-size: 14px;
  padding: 60px 0 20px;
  text-align: right;
  font-family: "Katibeh", cursive;
}
.end p {
  margin-bottom: 20px;
}
.colon1,
.colon2,
.colon3,
.colon4 {
  padding-right: 65px;
  margin-bottom: 20px;
}
.colon1 {
  flex-basis: 30%;
}
.end img {
  width: 130px;
  height: 90;
  margin-bottom: 20px;
}
.end ul {
  list-style-type: none;
}
.end h2 {
  color: var(--main-color);
}
.copyrights {
  text-align: center;
  font-size: xx-large;
  color: var(--main-color);
}
/*-----------The library----------------*/
.more {
  margin-left: 140px;
}
.more span {
  display: inline-block;
  border: 1px solid var(--gold-color);
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.more span:hover {
  background: var(--gold-color);
  color: var(--section-background);
}
/* the selected book*/
.container2 {
  background: url(../pic//bglanding2.jpg);
  background-size: cover;
  background-position: bottom;
  margin-bottom: 30px;
  padding-top: 34px;
}
#colbg {
  background-color: #f6f6f6;
  padding: 15px;
}

.container2 .col99 img {
  height: 400px;
  width: 300px;
  padding: 0;
  margin-bottom: 70px;
  margin-left: 150px;
}
.container2 .col99 h4 {
  font-size: 22px;
  font-weight: bold;
  color: var(--main-color);
}
.container2 select {
  display: block;
  padding: 10px;
  margin-top: 20px;
  background-color: var(--secondary-color);
}
.container2 .col99 h1,
.container2 .col99 h3,
.container2 .col99 p {
  margin-right: 130px;
  text-align: right;
}
.container3 .row4 {
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
}
.row4 h2,
.row4 p {
  cursor: pointer;
}
/*----------- shop----------------*/

.pricepage {
  margin-top: 30px;
  margin-left: 255px;
  margin-right: 255px;
  margin-bottom: 30px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
.boughtbooks {
  display: flex;
  flex-wrap: wrap;
}
th {
  text-align: left;
  padding: 5px;
  color: var(--section-background);
  background: var(--secondary-color);
  font-weight: normal;
  color: #000;
}
td {
  padding: 10px 10px;
}
td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}
td a {
  color: red;
  font-size: 12px;
  text-decoration: none;
}
td img {
  width: 80px;
  height: 90px;
  margin-right: 10px;
}
.total {
  display: flex;
  justify-content: flex-end;
}
.total table {
  border-top: 3px solid var(--secondary-color);
  width: 100%;
  max-width: 430px;
}
td:last-child {
  text-align: right;
}
th:last-child {
  text-align: right;
}
.pricepage .button {
  margin-left: 470px;
  background-color: var(--secondary-color);
  color: var(--section-background);
  transition: background 0.5s;
}
.pricepage .button:hover {
  background: var(--main-color);
}
/*-----------formulaire compte----------------*/
.accsub {
  padding: 50px 0;
  background: url(../pic//bglanding2.jpg);
  background-position: center;
  background-size: cover;
}
.formulaire {
  background: var(--section-background);
  width: 300px;
  height: 400px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.formulaire span {
  font-size: small;
  font-weight: bold;
  padding: 0 10px;
  color: var(--main-color);
  cursor: pointer;
}
.formulaire form {
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 130px;
  transition: transform 1s;
}
form input {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid var(--main-color);
}
form .button {
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}
form {
  font-size: 12px;
}
#indicator {
  margin-left: 48px;
  width: 100px;
  border: none;
  background: var(--gold-color);
  height: 3px;
  margin-top: 8px;
  transform: translateX(100px);
  transition: transform 1s;
}
#loginform {
  left: -300px;
}
#regform {
  left: 0px;
}
.formulaire a {
  cursor: pointer;
}
